{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

        {% for product in products %}
      
       <h2>>Désignation</h2>
         {{ product.name }}
    
        <a href="{{ path('app_produit_maj', {id: product.id})}}">mise à jour
         {{ product.name }}
        </a>
   
     {% endfor %}

    ADMINISTRATEUR
       
            <br></br>
            
            <br></br>
            <a href="{{ path('app_produit_creation')}}">Création produit</a>
            <br></br>
            
            <br></br>
          
        
</div>
{% endblock %}
